:root {
  interpolate-size: allow-keywords;
  
  --bg-color: #141414;
  --text-color: #e5e5e5;
  --secondary--color: #595959;

  --red: #E50914;
  --dark-red: #B20710;

  --padding-inline: 3.8rem;
}

/* ---------- GENERAL STYLES ---------- */

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

html,
body {
  user-select: none;
  scroll-behavior: smooth;
}

body {
  position: relative;
  background-color: var(--bg-color);
}

html,
body,
button {
  -webkit-font-smoothing: antialiased;
  font-family: Netflix Sans, Helvetica Neue, system-ui, Segoe UI, Roboto, Ubuntu, sans-serif;
  font-size: .75vw;
  color: var(--text-color);
}

main {
  overflow: hidden;
  padding-bottom: 2rem;
}

main > section {
  margin-bottom: 2.5rem;
}

.main-header {
  position: fixed;
  display: flex;
  align-items: center;
  gap: 2.8rem;
  width: 100%;
  padding: 1.3rem var(--padding-inline) 1.2rem;
  background-color: rgba(0 0 0 / 0.25);
  backdrop-filter: blur(10px);
  z-index: 999;

  & img {
    width: 92.5px;
    height: 25px;
  }

  & nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  & .nav-links-mobile {
    display: none;
  }

  & .nav-links,
  & .nav-utils {
    display: flex;
    align-items: center;
    gap: 1.4rem;
  }

  & .nav-links {
    padding-bottom: .25rem;
  }
  
  & .nav-links a {
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    letter-spacing: .5px;
    font-weight: 350;
  }

  & .nav-links a.active {
    font-weight: 650;
  }

  & .nav-utils {
    align-items: end;
  }

  & .nav-utils button {
    background-color: transparent;
    border: none;
    outline: none;
    transition: transform 367ms cubic-bezier(.21, 0, .07, 1);
  }

  & .nav-utils button.expandible:focus {
    transform: scale(1.2);
  }

  & .nav-utils button svg {
    --size: 24px;
    width: var(--size);
    height: var(--size);
    color: #fff;
  }

  & .nav-utils button img {
    --size: 30px;
    width: var(--size);
    height: var(--size);
    border-radius: 4px;
  }

  & .nav-utils .profile-util {
    display: flex;
    align-items: center;
    cursor: pointer;
    display: flex;
    width: 100%;
  }

  & .dropdown-icon {
    border-color: #fff transparent transparent;
    border-style: solid;
    border-width: 5px 5px 0;
    height: 0;
    margin-left: 10px;
    transition: transform 367ms cubic-bezier(.21,0,.07,1);
    width: 0;
  }
}

.video-section {
  padding-block: 11rem 8rem;
  padding-inline: var(--padding-inline);

  & video {
    mask-image: linear-gradient(black 0%, black 60%, transparent 95%) !important;
  }

  & video,
  & .movie-banner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    mask-image: linear-gradient(black 60%, transparent);
  }

  & .movie-banner {
    filter: brightness(0.7);
    transition: opacity .75s ease-in allow-discrete;

    @starting-style {
      opacity: 0;
    }
  }

  & .hidden {
    display: none;
  }

  & .video-info {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
  }

  & .video-info img {
    width: 600px;
  }

  & .video-info p {
    max-width: 50ch;
    font-size: 2rem;
    font-weight: 450;
    line-height: 1.4;
    color: #fff;
  }

  & .video-info .actions-buttons {
    display: flex;
    align-items: center;
    gap: 2rem;
    padding-top: 3rem;
  }

  & .actions-buttons button {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: fit-content;
    padding-block: .8rem;
    padding-inline: 2rem 2.4rem;
    background-color: #fff;
    border: none;
    border-radius: 4px;
    color: #000;
    cursor: pointer;
    transition: background-color 100ms ease-in-out;
  }

  & .actions-buttons button .text {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2.4rem;
  }

  & .actions-buttons svg {
    --size: 2.4rem;
    width: var(--size);
    height: var(--size);
  }

  & .actions-buttons .play-button:hover {
    background-color: rgba(255 255 255 / .75);
  }

  & .actions-buttons .more-info-button {
    background-color: rgba(109 109 110 / .7);
    color: #fff;

    &:hover {
      background-color: rgba(100 100 100 / .5);
    }
  }

  & .video-info::before {
    content: '';
    position: absolute;
    left: -10%;
    bottom: -45%;
    background-color: #000;
    width: 60%;
    height: 100%;
    opacity: .6;
    filter: blur(45px);
    z-index: -1;
  }
}

.section {
  display: flex;
  flex-direction: column;
  gap: .75rem;
  padding-inline: var(--padding-inline);

  & h2 {
    font-size: 1.4vw;
    font-weight: 500;
  }

  & .section-content {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: .4rem
  }

  & .section-content article {
    width: 100%;
    cursor: pointer;
  }

  & .section-content article > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius:  4px;
  }
}

.most-popular-shows-section,
.most-popular-films-section {
  & .section-content {
    gap: .5 rem;
  }
  
  & .section-content article {
    aspect-ratio: auto;
  }
}

.film-thumbnail {
  position: relative;
  scale: 1;
  z-index: 0;
  transform-origin: 50% 100%;
  transition: scale 200ms ease-in, z-index 0ms 300ms;


  &:hover {
    scale: 1.4;
    z-index: 2;
    transition: scale 200ms ease-in, z-index 0ms 300ms;
    transition-delay: 350ms;
  }
  
  &:hover .preview-card-container {
    display: block;
  }

  &:hover .image-banner,
  &:hover .scene-preview {
    border-radius: 0;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }

  &:hover .scene-preview-video-container {
    display: block;
    opacity: 1;
    transition: opacity 400ms .85s, display 400ms ease-in .85s allow-discrete;

    @starting-style {
      opacity: 0;
    }
  }

  &:hover .film-logo {
    opacity: 1;
  }

  &:hover .preview-card-content {
    opacity: 1;
    visibility: visible;
    transition:
      opacity 200ms ease-in,
      visibility 200ms ease-in;
    transition-delay: 350ms;
  }
}

.preview-card-container {
  position: absolute;
  inset: 0;
  /* width: 368px; */
  width: 150%;
  height: 100%;
  transform-origin: 0 0;
  scale: .668;
  transition: display 200ms ease-in allow-discrete;
  transition-delay: 350ms;

  & .image-banner,
  & .scene-preview {
    width: 100%;
    aspect-ratio: 246 / 143;
    object-fit: cover;
    border-radius: 4px;
    z-index: 1;
    transition: border-radius 200ms ease-in;
    transition-delay: 350ms;
  }

  & .scene-preview-video-container {
    display: none;
    opacity: 0;
    position: absolute;
    inset: 0;
    z-index: 0;
    transition: opacity 200ms, display 200ms ease-in allow-discrete;
  }

  & .scene-preview.hidden {
    display: none;
    opacity: 0; 
    transition: opacity 500ms 250ms, display 500ms 250ms ease-in allow-discrete;
  }

  & .film-logo {
    position: absolute;
    bottom: -3.75vw;
    left: 10px;
    /* width: 150px; */
    width: 40%;
    z-index: 0;
    opacity: 0;
    /* transition: opacity 400ms 100ms ease-in, display 400ms 100ms ease-in allow-discrete; */
  }

  & .film-logo.hidden {
    display: none;
    opacity: 0; 
    /* transition: opacity 400ms 100ms ease-in, display 400ms 100ms ease-in allow-discrete; */
  }
}

.preview-card-content {
  display: flex;
  flex-direction: column;
  gap: .75rem;
  width: 100%;
  background-color: #181818;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  padding: 1.5rem 1.25rem 1.75rem;
  margin-top: -.30rem;
  opacity: 0;
  visibility: hidden;
  z-index: -1;
  transition:
    opacity 200ms ease-in,
    visibility 200ms ease-in;
  transition-delay: 150ms;
}

.preview-card-content .card-actions {
  display: flex;
  align-items: center;
  gap: .5rem;

  & button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    aspect-ratio: 1 / 1;
    background-color: rgba(42 42 42 / .6);
    border: 2px solid hsla(0 0% 100% / .5);
    border-radius: 50%;
    cursor: pointer;
    transition:
      background-color 100ms ease-in,
      border-color 100ms ease-in;

    &:hover {
      background-color: rgba(255 255 255 / .1);
      border-color: #fff;
    }

    & > svg {
      --size: 24px;
      width: var(--size);
      height: var(--size);
      color: #fff;
      cursor: pointer;
    }
  }

  & button.fill {
    width: 42px;
    height: 42px;
    background-color: #fff;
    border-style: none;

    &:hover {
      background-color: #e6e6e6;
    }

    & > svg {
      color: #181818;
    }
  }

  & button:last-of-type {
    margin-left: auto;
  }

  & .more-options {
    position: relative;

    & .default-option {
      display: flex;
      margin-top: -2px;
      transition: display 100ms allow-discrete;
      transition-delay: .5s;
    }
    
    &:hover .default-option {
      display: none;
      transition: display 50ms allow-discrete;
      transition-delay: 200ms;

    }

    &:hover .more-options-wrapper {
      display: flex;
      opacity: 1;
      transform: translate(-35%, 50%);
      transition: opacity 300ms, display 300ms allow-discrete;
      transition-delay: 250ms;

      @starting-style {
        opacity: 0;
      }
    }
  }

  & .more-options-wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    display: none;
    gap: .25rem;
    padding: 5px calc(.5rem + 5px);
    background-color: rgb(35 35 35);
    border-radius: 999vw;
    opacity: 0;
    transform: translate(-35%, 7%);
    transition: opacity 300ms, display 300ms allow-discrete;
    transition-delay: 200ms;

    & button.transparent {
      width: 40px;
      height: 40px;
      background-color: transparent;
      border: none;
      color: #fff;
    }

    & button:hover {
      background-color: rgba(255 255 255 / .1);
    }
  }
}

.preview-card-content .card-meta-info {
  display: flex;
  align-items: center;
  gap: .85rem;

  & .maturing-rating svg {
    --size: 34px;
    width: var(--size);
    height: var(--size);
    margin-top: 4px;
  }

  & .duration {
    color: rgba(255 255 255 / .7)
  }

  & .quality-badge {
    padding: .5px 6px;
    margin-top: 3px;
    border: 1px solid rgba(255 255 255 / .3);
    border-radius: 4px;
    font-size: 12px;
    line-height: 1.4;
    color: #fff;
  }
}

.preview-card-content .card-genre-list {
  display: flex;
  gap: .75rem;
  list-style: none;

  & .card-genre-item {
    display: flex;
    align-items: center;
    gap: .75rem;
    color: #fff;
  }

  & .card-genre-item:not(:first-of-type)::before {
    --size: 5px;
    
    content: '';
    width: var(--size);
    height: var(--size);
    margin-top: 2px;
    background-color: rgba(255 255 255 / .4);
    border-radius: 50%;
  }
}

.main-footer {
  height: 400px;
}

@media screen and (width < 1200px) {
  html,
  body {
    font-size: .85vw;
  }

  .video-section {
    height: calc(30dvh + 25vw);

    & .video-info img {
      width: 50vw;
    }

    & .video-info p {
      font-size: 1.85rem;
    }
  }
  
  .section .section-content {
    grid-template-columns: repeat(3, 1fr);

    & h2 {
      font-size: 1.8vw;
    }
  }

  .my-list-section .section-content {
    row-gap: .9rem;
    column-gap: .45rem;
  }
}

@media screen and (width < 880px) {
  .main-header {
    padding: 1rem var(--padding-inline);
  
    & img {
      width: 52.5px;
      height: 16px;
    }
  
    & .nav-links-wrapper {
      position: relative;
    }
    
    & .nav-links-mobile {
      display: flex;
      align-items: center;
      font-size: 12px;
      font-weight: 650;
      cursor: pointer;
    }

    & .nav-mobile-trigger {
      padding-bottom: .35rem;
    }
  
    & .nav-links {
      display: none;
      /* transition: display 0ms 1s allow-discrete; */
    }

    & .nav-links-wrapper:hover .nav-links-content {
      position: absolute;
      left: calc(-55% - 5rem);
      display: flex;
      flex-direction: column;
    }
    
    & .nav-links-wrapper:hover .nav-links {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0;
      width: max-content;
      background-color: rgba(0 0 0 / .93);
      border-top: 2px solid #fff;
    }

    & .nav-links-wrapper:hover .nav-links::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 0;
      border-color: transparent transparent #fff;
      border-style: solid;
      border-width: 0 5px 5px;
      margin-top: -6.5px;
      margin-left: calc(50% - 6px);
    }
    
    & .nav-links-content .separation {
      height: 2rem;
      background-color: transparent;
    }
    
    & .nav-links a {
      font-size: 12px;
      padding: 2.5rem 7rem;
      text-align: center;
      width: 100%;
      color: #bbb;
    }

    & .nav-links a.active {
      color: #fff;
    }

    & .nav-links a:hover {
      background-color: rgba(125 125 125 / .1);
    }

    & .nav-links a.active {
      cursor: default;
    }

    & .nav-utils .profile-util img {
      --size: 28px;
    }
  }
}

@media screen and (width < 768px) {
  html,
  body {
    font-size: 1vw;
  }

  main > section {
    margin-bottom: 3.5rem;
  }

  .video-section {
    height: calc(20dvh + 25vw);

    & .video-info p {
      font-size: 1.65rem;
    }
  }
  
  .section .section-content {
    grid-template-columns: repeat(2, 1fr);
    gap: .55rem;
  }

  .section h2 {
    font-size: 2.4vw;
  }

  .my-list-section .section-content {
    row-gap: 1.15rem;
    column-gap: .6rem;
  }
}

@media screen and (width < 576px) {
  html,
  body {
    font-size: 1.5vw;
  }

  .main-header .nav-utils .search-util {
    display: none;
  }

  main > section {
    margin-bottom: 4.25rem;
  }

  .video-section {
    height: calc(15dvh + 20vw);

    & .video-info img {
      width: 47vw;
    }

    & .video-info p {
      display: none;
    }
  }
  
  .section .section-content {
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  .section h2 {
    font-size: 3rem;
  }

  .my-list-section .section-content {
    row-gap: 2.65rem;
  }

  .section.big-thumbnails {
    display: none;
  }
}
